<a href="https://colab.research.google.com/github/dartwinshu/dibimbing-python-for-data-analysis/blob/main/Dibimbing%20-%20Python%20for%20Data%20Analysis%20-%20Part%2001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands On Coding with Python

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Variables and Objects

A Python variable is a *symbolic name* that is a reference or pointer to an *object*. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object.

In [ ]:
a = 1

This assignment creates an *integer object* with the value 1 and assigns the *variable* 'a' to point to that object.

Bahasa gampangnya gini.

1. Kita buat sebuah object.
2. Object ini adalah sebuah bilangan bulat (integer) bernilai 1.
3. Terus pas kita mau simpen object yang kita buat ini di memori sistem, kita memberikan dia nama 'a'.
4. Biar pas kita mau pake lagi object ini, kita tinggal panggil nama si 'a'.

In [ ]:
type(a)

int

By using `type(..)` we can know that the object that variable 'a' points, is an integer.

In [ ]:
a + 2

3

In [ ]:
a = a + 2

In [ ]:
a = 1

In [ ]:
a

1

By running the above cell, we *modify* the object that we used to call 'a'. We add it by '2'. So now, the value of this object is '3'. 

Then, this object, an integer whose value is 3, is re-assigned to variable 'a'.

So, now, the variable 'a' points to an object whose value is 3.

### A few examples of Data Types

Each 'object' has its own types. Like what we saw earlier, the object '1' is an integer. Python has different data types that allows us to do different things.

In [ ]:
### string, which is usually used to process text data
teks_contoh = 'abcdefg'
type(teks_contoh)

str

In [ ]:
### list, which is used to store other objects and give them order (urutan berpengaruh)
list_contoh = [1,2,3,4,5,6]
type(list_contoh)

list

List di atas beranggotakan bilangan-bilangan bulat

In [ ]:
list_contoh_2 = ['a', 'b', 'c', 'd', 'e']

In [ ]:
list_contoh_2[4]

'e'

In [ ]:
list_contoh[0]

1

In [ ]:
list_contoh[1]

2

Dan kita bisa 'memanggil' anggota-anggota dari list itu menurut INDEX nya (posisi).

Selain itu, kita juga bisa menambahkan sesuatu ke dalam list yang telah dibuat

In [ ]:
list_contoh

[1, 2, 3, 4, 5, 6]

In [ ]:
list_contoh.append(10)

In [ ]:
list_contoh

[1, 2, 3, 4, 5, 6, 10]

In [ ]:
list_contoh.append('abc')

In [ ]:
list_contoh

[1, 2, 3, 4, 5, 6, 10, 'abc']

Kita menambahkan angka '8' untuk dimasukkan ke dalam list_contoh. 

Object 'list' yang direfer oleh variabel `list_contoh` pun berubah. Ini tujuannya ada variabel, biar kita bisa ngecek nilai 'terkini' dari masing-masing object yang telah kita buat di masa lampau. Biar kita tau perubahannya. Dan ga usah ngebuat object tersebut dari 0 lagi. Tinggal dipanggil pake 1 nama yang konsisten aja.

In [ ]:
### list can have duplicates in them
list_contoh_2 = [1,1,1,1,1,1]

In [ ]:
### set, himpunan. Berbeda dari list, set nggak boleh ada komponen duplikat. 
### tapi, di dalam himpunan, tidak ada urutan

In [ ]:
set_contoh = set(['d','i','b','i','m','b','i','n','g'])

In [ ]:
set_contoh

{'b', 'd', 'g', 'i', 'm', 'n'}

In [ ]:
set_contoh[0]

TypeError: ignored

Another important data type is called dictionary in which we can store KEYS and Values.

Waduh, dictionary apa lagi tuh.

Udah, anggep aja 'kamus'. 

Di kamus kan ada katanya, dan ada definisinya. 

Sama, dictionary juga begitu cara kerjanya. Begini.

In [ ]:
daftar_harga = {'biru':10000, 'merah':12500, 'hijau':8500}

In [ ]:
daftar_harga['hijau']

8500

In [ ]:
daftar_harga = {
    'biru':10000,
    'merah':12500,
    'hijau':8500,
}

warna_belanjaan = ['hijau', 'hijau', 'biru', 'merah', 'merah', 'biru', 'hijau']

In [ ]:
list(daftar_harga.keys())

['biru', 'merah', 'hijau']

In [ ]:
list(daftar_harga.values())

[10000, 12500, 8500]

In [ ]:
harga_list = [daftar_harga[x] for x in warna_belanjaan]
harga_list

[8500, 8500, 10000, 12500, 12500, 10000, 8500]

In [ ]:
total_harga = sum(harga_list)
total_harga

70500

### Dictionary and List

Kita bikin dictionary yang berisi nama ibu guru, dan murid-murid dalam kelasnya.

In [ ]:
daftar_wali_kelas = {
    'Ibu A':['Alex', 'Amir'],
    'Ibu B':['Budi', 'Bond'],
    'Ibu C':['Charles', 'Charlie', 'Chelsea'],
    'Ibu D':['Doni', 'Dani', 'Dea', 'Deandra']
}

Siapa saja murid-murid dalam kelas 'Ibu D'?

In [ ]:
daftar_wali_kelas['Ibu D']

['Doni', 'Dani', 'Dea', 'Deandra']

### Dictionary within Dictionary

In [ ]:
product_details = {
    'Product A': {'name':'iPhone 14', 'ram': 6, 'camera': 2},
    'Product B': {'name':'MacBook Air', 'ram':8, 'USB-ports':2},
    'Product C': {'name':'Casio Calculator', 'language':['Indonesia', 'English'], 'power':['Battery', 'Solar']},
    'Product D': {'name':'iPhone Case', 'color':{'Red', 'Green', 'White', 'Blue'}}
}

In [ ]:
product_details['Product A']['name']

'iPhone 14'

In [ ]:
product_details['Product D']['color']

{'Blue', 'Green', 'Red', 'White'}

In [ ]:
product_details['Product C']['language']

['Indonesia', 'English']

### Printing and its Confusion

In jupyter notebook, printing an object might cause confusion to a lot of newbies.

If you don't use `print` function, it will automatically output the last line of code

In [ ]:
1+1

2

In [ ]:
1+2
2+3
3+4

7

If you want to output everything..then you have to write `print`

In [ ]:
print(1+2)
2+3
3+4

3

7

Look, that one in the middle, that does not have `print`, did not get 'printed'

### Methods and Functions

Simply said, functions are a set of instruction which are wrapped by a name, so we can call it anytime, and it saved us from writing everything from scratch.

In [ ]:
list_contoh

[1, 2, 3, 4, 5, 6, 10, 'abc']

In [ ]:
len(list_contoh)

8

Some functions are built in, like `len`. Len will measure the length of the input object, and give us the 'length' of that object.

In [ ]:
list_contoh

[1, 2, 3, 4, 5, 6, 10, 'abc']

See? There are indeed 7 members in the `list_contoh`. So, the length is 7. So, the function `len` outputs a value of 7, when we give `list_contoh` as the input.

Some functions can also be custom-made. Most of us will do this in our career, so get used to write functions!

In [ ]:
def luas_keliling(panjang, lebar):
    luas = panjang * lebar
    keliling = 2 * (panjang + lebar)
    return luas, keliling

In [ ]:
p = 5
l = 4
luas_keliling(panjang = p, lebar = l)

(20, 18)

In [ ]:
p = 8
l = 3
luas_keliling(panjang = p, lebar = l)

(24, 22)

In [ ]:
luas_keliling(9,4)

(36, 26)

Let's study this function.

This function takes in two inputs. 

- Input pertama, itu diberi variabel `panjang`. Pemberian nama `panjang` ini sementara doang, cuma dipake pas lagi nge-run fungsinya. 
- Input kedua, itu diberi variabel `lebar`.

Nantinya, si input pertama dan kedua ini dikalikan...jadilah object baru yang diberi variabel `luas`.

Setelah itu, dihitung `keliling`nya.

Akhirnya, fungsi ini menggunakan kata `return`. 

Artinya, setelah selesai menghitung, ada 2 object yang fungsi ini akan *kembalikan* ke kita, yaitu berupa luas, dan keliling.

In [ ]:
luas_keliling(7,3)

(21, 20)

Artinya, untuk persegi panjang yang panjangnya 7 dan lebarnya 3, luasnya 21, lebarnya 20.

Ingat posisinya! panjang itu input pertama, lebar itu input kedua.

Pas di-return, yang pertama itu luas, baru keliling!

Gimana cara kita 'nyimpen' value yang di-return?

In [ ]:
jawaban_l, jawaban_k = luas_keliling(7, 4)

In [ ]:
print(jawaban_l)
print(jawaban_k)

28
22

Ga mau nyimpen value ah, maunya ngeprint aja. Gimana dong? 

Bisa!

In [ ]:
def luas_keliling(panjang, lebar):
    luas = panjang * lebar
    keliling = 2*(panjang+lebar)
    
    print('Luas persegi panjang:', luas)
    print('Keliling persegi panjang:', keliling)

In [ ]:
luas_keliling(7, 3)

Luas persegi panjang: 21
Keliling persegi panjang: 20

Kalo mau disimpen dan diprint gimana?

In [ ]:
def luas_keliling(panjang, lebar):
    luas = panjang * lebar
    keliling = 2*(panjang+lebar)
    
    print('Luas persegi panjang:', luas)
    print('Keliling persegi panjang:', keliling)
    
    return luas, keliling

In [ ]:
jawaban_luas, jawaban_keliling = luas_keliling(9,4)

Luas persegi panjang: 36
Keliling persegi panjang: 26

In [ ]:
print(jawaban_luas)

36

Fungsi yang lengkap

In [ ]:
a = 1
b = 2

In [ ]:
def luas_keliling(panjang, lebar):
    """
    Fungsi ini menerima dua input, yaitu panjang dan lebar.
    Jika panjang lebih pendek daripada lebar, maka kedua nilai tersebut akan saling ditukar.
    Setelah itu, luas dan keliling persegi panjang akan dihitung.
    Pada akhirnya, nilai luas dan keliling akan diprint, dan direturn, dengan urutan luas dulu baru keliling.
    """    
    
    if panjang < lebar: 
        lebar, panjang = panjang, lebar
        print('Waduh! Kok panjang lebih pendek daripada lebar. Kita switch ya!')
    else:
        pass
        
    luas = panjang * lebar
    keliling = 2*(panjang + lebar)
    
    print(f'Luas persegi panjang yang memiliki panjang {panjang} dan lebar {lebar} adalah {luas}')
    print(f'Keliling persegi panjang yang memiliki panjang {panjang} dan lebar {lebar} adalah {keliling}')
    
    return luas, keliling

In [ ]:
luas_pp, keliling_pp = luas_keliling(3, 5)

Waduh! Kok panjang lebih pendek daripada lebar. Kita switch ya!
Luas persegi panjang yang memiliki panjang 5 dan lebar 3 adalah 15
Keliling persegi panjang yang memiliki panjang 5 dan lebar 3 adalah 16

In [ ]:
luas_pp, keliling_pp = luas_keliling(8, 5)

Luas persegi panjang yang memiliki panjang 8 dan lebar 5 adalah 40
Keliling persegi panjang yang memiliki panjang 8 dan lebar 5 adalah 26

In [ ]:
def fungsi_banyak_input(input_1, input_2, input_3, input_4, input_5, input_6):
    return input_6, input_5, input_4, input_3, input_2, input_1

In [ ]:
fungsi_banyak_input(1,2,3,4,5,6)

(6, 5, 4, 3, 2, 1)

In [ ]:
nilai = 100
print(f'Nilai ulangan akhir saya adalah {nilai} maka saya sangat senang')

Nilai ulangan akhir saya adalah 100 maka saya sangat senang

Oke. Kita selesai dengan 'function'.

Kalo gitu 'method' apa?

Method itu mirip seperti function, tapi 'terikat' sama object.

Method adalah function yang tergantung sama object. Bedanya apa dong? Pas kita manggil sebuah method, biasanya letaknya dia adalah setelah tanda titik di sebelah kanan object. Maksudnya apa si? Gini...

In [ ]:
list_contoh = [1,2,3,4,5,6]

Kita tambahin ya angka 8 ke list contoh itu?

In [ ]:
list_contoh.append(8)

In [ ]:
list_contoh

[1, 2, 3, 4, 5, 6, 8]

Nah, append ini adalah `method`.

Append ini merupakan `method` khusus buat object-object yang tipenya itu `list`.

In [ ]:
himpunan_baru = {1,2,3,4,5}

In [ ]:
himpunan_baru.add(6)

Error kan?

In [ ]:
himpunan_baru.add(6)

In [ ]:
himpunan_baru

{1, 2, 3, 4, 5, 6}

Harus .add kalo buat nambahin sesuatu ke `set`, ga bisa append.

Kita bisa ngebuat method baru, tapi ya untuk hal itu, kita harus membuat object baru, dan itu merupakan materi yang dinamakan 'Object Oriented Programming'. Next time!

### Looping

Looping is a way to do a process over and over again until a certain condition is fulfilled.

In [ ]:
## This looping prints all members of a list
list_loop = ['Aldo', 'Budi', 'Cindy', 'Dilan', 'Ed Sheeran']

for _ in list_loop:
    print('Nama peserta:', _)

Nama peserta: Aldo
Nama peserta: Budi
Nama peserta: Cindy
Nama peserta: Dilan
Nama peserta: Ed Sheeran

In [ ]:
list_loop = [1,2,3,4,5,6,7,8]
for number in list_loop:
    print(number*2)

2
4
6
8
10
12
14
16

In [ ]:
nama = 'Abc'

for i in range(10):
    print(nama)

Abc
Abc
Abc
Abc
Abc
Abc
Abc
Abc
Abc
Abc

In [ ]:
bilangan = input('Beri saya sebuah bilangan:  ')

Beri saya sebuah bilangan:  1.1

In [ ]:
type(bilangan)

str

In [ ]:
a = 0

kelipatan_angka_apa = int(input('Mau angka berapa yang ditulis kelipatannya? '))
berapa_kali = int(input(f'Berapa kelipatan {kelipatan_angka_apa} yang diinginkan? '))

for i in range(berapa_kali):
    a = a + kelipatan_angka_apa
    print(a)

Mau angka berapa yang ditulis kelipatannya? 4
Berapa kelipatan 4 yang diinginkan? 5
4
8
12
16
20

In [ ]:
for p in range(10):
    print('Teks ini akan diulang')

Teks ini akan diulang
Teks ini akan diulang
Teks ini akan diulang
Teks ini akan diulang
Teks ini akan diulang
Teks ini akan diulang
Teks ini akan diulang
Teks ini akan diulang
Teks ini akan diulang
Teks ini akan diulang

### If Else

If Else usage is similar to how you would usually use If Else in Excel.

In [ ]:
nilai = 80

if nilai > 70:
    print('Lulus')
else:
    print('Tidak Lulus')

Lulus

In [ ]:
1+1 == 2

True

In [ ]:
score = 95
cheat = True

if (score < 70) or (cheat == True):
    print('Kamu harus mengulang kelas ini.')
elif score < 85:
    print('Kamu lulus')
elif score < 90:
    print('Kamu dapat B+')
else:
    print('Selamat! Kamu dapet A')

Kamu harus mengulang kelas ini.

In [ ]:
score = 90
cheat = False

if (score < 70) or (cheat == True):
    print('You need to retake the class.')
elif score < 85:
    print('Great! You passed.')
elif score < 90:
    print('Great! You get a B+')
else:
    print('Congratulations! You get an A!')

Congratulations! You get an A!

### Combining If Else and Loop

In [ ]:
nilai = [60,70,80,90,100,50,75,85,45,100,90]

print('Nilai anak yang remed adalah...')

for u in nilai:
    if u < 70:
        print(u)

Nilai anak yang remed adalah...
60
50
45

### BONUS Material (If we still have extra time): String and Indexing in Python

Strings are text data. In reality, it does not only contain letters, but also symbols we usually use in texts, such as '-', '!', and even the white space between two words.

In [ ]:
teks = 'dibimbing'

In [ ]:
teks[1:4]

'ibi'

In [ ]:
nomor_telepon = '+62215310535'

In [ ]:
nomor_telepon[5:]

'5310535'

In [ ]:
teks = 'abcdkjdhfgkshrioltef'

In [ ]:
teks[3:11]

'dkjdhfgk'

In [ ]:
teks[-5:-1]

In [ ]:
text = 'This is a sentence'

In [ ]:
print(text[0])
print(text[1])
print(text[2])
print(text[3])
print(text[4])
print(text[5])

T
h
i
s

i

We can use negative number to spell our string from the last letter!

In [ ]:
print(text[-1])
print(text[-2])

e
c

In [ ]:
text_1 = 'Coding with Python'
text_2 = 'Belajar coding dengan dibimbing'

We also can split a sentence into words.

In [ ]:
text = 'This is a sentence'

In [ ]:
text.split(' ')

['This', 'is', 'a', 'sentence']

In [ ]:
text_3 = 'Coding-dengan-Python'
text_3.split('-')

['Coding', 'dengan', 'Python']

In [ ]:
list_baru = ['a','b','c']

In [ ]:
type('a')

str

In [ ]:
x = 1
type(str(x))

str

In [ ]:
a = 1